{
  "type": "service_account",
  "project_id": "delivery-c5e62",
  "private_key_id": "LA LLAVE PRIVADA ID",
  "private_key": "LA LLLAVE PRIVADA",
  "client_email": "EL EMAIL",
  "client_id": "EL ID DE CLIENTE",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "LA URL DEL CERT"
}
